
.category__container{
    display: block;
    padding: 50px 20px 20px;
    width: 300px;
}

.category__title{
    display: flex;
    border-bottom: 2px solid rgba(224, 224, 224, 0.849);
}
.category__ulist-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    left: 10px;
    font-size: 15px;
    justify-content: center;
    align-items: start;
    cursor: pointer;
    margin: 10px 5px;
}