.price__container{
    display: block;
    padding: 50px 20px 20px;
    width: 300px;
}
.price__title {
    border-bottom: 2px solid rgba(224, 224, 224, 0.849);
}

.form__container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
    padding-left: 10px;
}

.label__form {
    align-items: center;
    display: flex;
    margin-bottom: 17px;
    padding-left: 10px;
}

.input__from{
    margin-bottom: 17px;
}

.price__btn{
    background-color: #f85555;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
}